$room-font-size--small: 1rem;
$room-font-size--medium: 3.5vmin;
$description-font-size-small: 0.75rem;
$description-font-size-medium: 1rem;

.rooms-container {
  @include reset-list;
  margin-top: 0;
  margin-bottom: 0;

  @include width-from($large_device) {
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
}

.rooms {
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  @include width-from($large_device) {
    &:first-child {
      margin-right: 2px;
    }
  }
  &--available {

  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    background: rgba(white,0.8);

    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    //letter-spacing: -0.025rem;
    @include width-from($large_device) {
      height: 50px;
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;

      //letter-spacing: -0.05rem;
    }
  }
  &__list {
    @include reset-list;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    @include width-from($large_device) {
      height: 100vh;
      padding-top: 50px;
    }
  }
}

.room {
  position: relative;
  padding: 1rem;
  margin-bottom: 1px;
  background-color: #57AA58;
  color: #fff;
  @include width-from($large_device) {
    //flex: 1;
    //min-height: calc(3vw + 3vh + 5vmin);
    margin-bottom: 2px;
  }
  @include width-from($monster_large_device) {
    //min-height: 140px;
  }

  &:last-child {
    margin-bottom: 0;
  }
  &--unavailable {
    background: #EA3E34;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__dummy-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.2rem 0.6rem;
    background: white;
    border-radius: 0.3rem;
    color: #57AA58;
    line-height: 1;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    //letter-spacing: -0.05rem;

    @include width-from($large_device) {
    }
  }
  &__name {
    margin-top: 0;
    margin-bottom: 1vh;
    line-height: 1;
    font-size: $room-font-size--small;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.05vw;
    @include width-from($large_device) {
      font-size: $room-font-size--medium;
    }
  }
  &__has {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
  }
  &__capacity {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3;
    font-size: $description-font-size-small;
    @include width-from($large_device) {
      font-size: $description-font-size-medium;
    }
  }
  &__screen {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3;
    font-size: $description-font-size-small;
    @include width-from($large_device) {
      font-size: $description-font-size-medium;
    }
  }
  &__time {
    //position: absolute;
    //bottom: 1rem;
    //left: 1rem;

    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    font-size: $room-font-size--small;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -0.025vw;

    @include width-from($large_device) {
      font-size: $room-font-size--medium;
      font-weight: 100;
    }
    @include width-from($monster_large_device) {
      //font-size: $room-font-size--large;
    }
  }
}